.project{
    display:flex;
    flex-direction: column;
    width: auto;
    height: 100%;
    /*border:1px solid rgb(199, 45, 45);*/
    margin:0px 1%;

    
}

.divImg{
    height: 85%;
    /*border:1px solid rgb(45, 53, 199);*/
  
   

}

.projImage{
   
    /*width: 50%;
    height: 100%;*/

    float: left;
    width:  200px;
    height: 250px;
    object-fit: cover;
    border-radius: 2%; 
    box-shadow: 0 5px 10px rgb(0 0 0 / 0.2);
    
    
}

.project-links{
    display:flex; 
    width: 50%;
    justify-content: space-evenly;
}

.project-links a{
   text-decoration: none;
}

a:visited{
    color:rgba(13, 200, 0, 0.865);
}